.student-credential-box {
  background-color: #fff;
  border: 1px solid #e1e4e8;
  border-radius: 8px;
  padding: 16px 20px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.student-credential-info {
  display: flex;
  align-items: flex-start;
  gap: 15px;
}

.student-credential-title {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}

.student-credential-meta {
  font-size: 14px;
  color: #555;
  margin: 4px 0;
}

.student-verified-text {
  font-size: 14px;
  color: var(--green);
  font-weight: 500;
}

/* For share */
.share {
   margin-top: 16px;
}


.share-button {
  background-color: white;
  color: var(--border);
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  font-size: 18px;
  cursor: pointer;

  display: flex;
  flex-direction: column; /* Stack icon and label vertically */
  align-items: center;
  gap: 4px; /* space between icon and label */
}

.share-button i {
  font-size: 18px;
}

.share-label {
  color: var(--border);
  font-weight: 400;
  font-size: 12px;
}
